/* colored links */
/* YouTube */
[href*="youtu.be"],
[href*="youtube.com"] {
    color:#c4302b !important;
    font-weight: 700;
}
/* Twitch */
[href*="twitch.tv"] {
    color:#b700ff !important;
    font-weight: 700;
}
/* Discord */
[href*="discord.com/channels/"] {
    color:#7289da !important;
}
[href*="discord.com/channels/"]::before {
    content:'Jump to Message : ';
    font-size:16px;
    font-weight:700;
    color: #603cff;
}
[href*="betterdiscord.app/"],
[href*="discord.gg/"],
[href*="discord.com/"],
[href*="media.discordapp.net/"],
[href*="cdn.discordapp.com/"] {
    color:#7289da !important;
    font-weight: 700;
}
/* Reddit */
[href*="reddit.com"],
[href*="redd.it"] {
    color:#e05a0c !important; 
    font-weight: 700;
    
   
}
/* Instagram */
[href*="instagram.com/"]{
    background: -webkit-linear-gradient(80deg, rgb(255, 238, 0), rgb(255, 157, 11), #b700ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
} 
/* Twitter */
[href*="twitter.com/"]{
    color:#00acee !important;
    font-weight: 700;
}
/* GitHub */
[href*="github.com"]{
    color:#00f0a8 !important;
    font-weight: 700;
}
/* Facebook */
[href*="facebook.com"]{
    color:#3b5998 !important;
    font-weight: 700;
}
/* Imgur */
[href*="i.imgur.com"]{
    color:#89C623 !important;
    font-weight: 700;
}
/* Medal.tv */
[href*="medal.tv"] {
    color:#977547 !important; 
    font-weight: 700;
}
/* Steam */
[href*="store.steampowered.com"],
[href*="https://s.team"],
[href*="steamcommunity.com/"] {
    color:#1b2838 !important; 
    font-weight: 700;
}
/* Soundcloud */
[href*="soundcloud.com"] {
    color:#ff7700 !important; 
    font-weight: 700;
}
/* osu! */
[href*="osu.ppy.sh/"] {
    color:#ff66aa !important; 
    font-weight: 700;
}
/* Spotify */
[href*="spotify.com"],
[href*="open.spotify.com"]{
    color:#13B94A !important; 
    font-weight: 700;
}
/*rounded menu*/
.menu-3sdvDG, .item-1tOPte {
  border-radius: 30px;
}
.bar-30k2ka {
  border-radius: 30px;
}
/*rounded square avatars*/
.avatar-1BDn8e {
    border-radius: 35%;
}
.avatarSmall-1PJoGO {
  border-radius: 35%;
}


/*coloured connections*/
.connectedAccountIcon-3_EQqg ~ div::before {
    content: "";
    top: 0; bottom: 0; left: 0; right: 0;
    border: 1px solid var(--border-color);
    position: absolute;
    display: block;
    pointer-events: none;
}

.connectedAccount-2Jb-Z0 {
    overflow: hidden;
    position: relative;
}
/* Spotify */
.connectedAccountIcon-3_EQqg[src="/assets/7906941c1205ba04b6921f2af4c6a170.png"] ~ div::before {--border-color: #1ED760;}
/* Github */
.connectedAccountIcon-3_EQqg[src="/assets/afb09840b496f2c49032075a33da7fab.png"] ~ div::before {--border-color: #fff;}
/* Twitch */
.connectedAccountIcon-3_EQqg[src="/assets/007e5cb8871cf0987283c6307ce7fed0.png"] ~ div::before {--border-color: #563194;}
/* Twitter */
.connectedAccountIcon-3_EQqg[src="/assets/6919f2a578d91a5d033b639f0fb52b3d.png"] ~ div::before {--border-color: #0099E4;}
/* xbox */
.connectedAccountIcon-3_EQqg[src="/assets/746aba83c88f087e3eef23a47dd57923.png"] ~ div::before {--border-color: #5EC220;}
/* Reddit */
.connectedAccountIcon-3_EQqg[src="/assets/b46c06eb71dc56a41432512168e6759a.png"] ~ div::before {--border-color: #FF4500;}
/* Battle.net */
.connectedAccountIcon-3_EQqg[src="/assets/7b964801001dd47cc05a91d6dacf6075.png"] ~ div::before {--border-color: #0099E4;}
/* Steam */
.connectedAccountIcon-3_EQqg[src="/assets/a9c26c8bebe406ca1adc1967bc532224.png"] ~ div::before {--border-color: #000000;}
/* YouTube */
.connectedAccountIcon-3_EQqg[src="/assets/25ec573cf82ee36d12296628f6bec11b.png"] ~ div::before {--border-color: #D9252A;}
/* Facebook */
.connectedAccountIcon-3_EQqg[src="/assets/3d189c41ce8155dfebf86ba2d1acfbbc.png"] ~ div::before {--border-color: #2D3283;}
/* LOL */
.connectedAccountIcon-3_EQqg[src="/assets/a0e2182e843745c73f7f3c8325a05ea9.png"] ~ div::before {--border-color: #CEA146;}




